
.padre{
       display: flex;
       flex-flow: column nowrap;  /* nowrap para que se adapte al tamaño estblecido */
       margin: 10px;
       font-family: 'PT Serif', serif;
     }

a{
   text-decoration: none;
   }
   


header{
       display: flex;
       flex-flow: column nowrap; 
       background-position:center;
       background-attachment: contain;
       background-color:yellowgreen;
       height: 60px;
       margin-bottom: 10px;
       position: sticky;
       top: -1px;
    }



   .menu{
       display: flex;
       flex-flow: row nowrap;
       align-items: center;
       justify-content: space-between;
       padding: 10px;
       
       }



    .logo{
      color: white;
      }
   .logo:hover{
      transform:scale(1.2);
   }
      
       
    .titulo{
         font-size: 30px;
         color: white;
         font-family: 'Kanit', sans-serif;
     }



   .nav{
         color:white;
         padding: 0px 15px;
   }


     .nav:hover{
      color: #343434; 
     } 


section{
       display: flex;
         
}


     aside{
       width: 30%;
       background-color: darkgrey;
       margin: 0px 10px 0px 0px;
       padding: 10px;
     }



    .indicadores{
       display: flex;
       flex-flow: row wrap;  
       justify-content: space-around;
       background-color:darkseagreen;
       margin: 0px 0px 0px 0px;
       padding: 10px;
       width: 70%;
    }

      article{
           /* flex: 1 1 45%; */
            width: 45%;
            min-height: 100px;
            color: #444;
            font-size: 13px;
            letter-spacing: 1px;
            background: #ececec;
            margin: 10px;
            align-items: center;
      }

      article:hover {
         transform:scale(1.1, 2);
         -webkit-transform:scale(1.05,1.05);
         -ms-transform:scale(1.05,1.05);
         border-radius: 25px;
      }

           .titulo_indicadores{
              text-align: center;
           } 


           article img{
            width: 100%; 
           }
           
           article p{
                   font-size: 15px;
                   text-align: justify;
                   padding: 10px;
           }

          .link{
                    color:#fff;
                    font-size: 13px;
                    padding: 10px;
                    background: #000;
                    padding: 10px;
                    display: inline-block; 
                    margin-bottom: 0px;
              }

          .link:hover{
                   background-color: #546cc3;
              }

         article img{
               width: 100%;
               
              }


footer{
      background:yellowgreen;
      display: flex;
      flex-flow: column;
      justify-content: center;
       margin-top: 10px;
       
}
          
    .social{
       display: flex;
       justify-content: center;
       padding-top: 10px;
     }

      .redes{
            color:darkslategray;
            padding: 0px 15px;
      }

         .redes:hover{
            color: #000;
            font-size: 20px;
            
         }

/* estilos para formulario */
form {
   box-sizing: border-box;
   max-width: 100%;
   width: 420px;
   padding: 0 15px;
   margin: 15px auto 50px;
 }

.form-group {
   margin-top: 1.6rem;
   position: relative;
   min-height: 3rem;
   line-height: 3rem;
}
 
form div {
   margin: 0 0 20px 0;
}

label.movable {
   position: absolute;
   pointer-events: none;
   top: 0;
   z-index: 2;
   height: 3rem;
   line-height: 3rem;
   color: darken(#d8dbe8,10%);
   padding: 0 15px;
   font-size: 1rem;
   font-weight: 400;
   transition: all 0.2s;
 }

 .form-field {
   border: 1px solid #9caaea;    
   transition-property: border;
   box-shadow: 0 8px 8px -4px lightblue;
   transition-duration: 0.2s;
 }

 .form-field, .form-submit {
   color: inherit;
   display: block;
   position: relative;
   z-index: 1;
   font-size: inherit;
   width: 100%;
   box-sizing: border-box;
   border-radius: 4px;
   background: white;
   padding: 12px 15px;
   min-height: 3rem;
 }



form input {
   display: inline-block;
   height: 20px;
   min-width: 100px;
   width: 180px;
}

form textarea {
   display: inline-block;
   resize: vertical;
}

.form-submit {
   background: yellowgreen;
   color: white;
   font-weight: 600;
   font-size: 1.2rem;
   border: 0;
   transition: all 0.2s;
   cursor: pointer;
}

.form-submit:hover {
   background: #03da8b;
   transform: translateY(-3px);;
}

.form-submit:active {
   transform: translate(0);
}

.input-error {
   border: 2px solid #f15252;
   background: #f9c9c9;
   transition: color 0.2s;
   box-shadow: 0 2px 10px fade(black,10%);
   
}

.has-icon::before {
     font-family: "FontAwesome";
     position: absolute;
     line-height: 3rem;
     top: 0;
     left: 0;
     width: 3rem;
     text-align: center;
     z-index: 2;
     color: darken(#d8dbe8,10%);
     pointer-events: none;
     transition: color 0.2s;
     animation: none;
   }

.form-field, label.movable  {
       padding-left: 3rem;
     }

label.movable {
       top: -1.5rem;
       height: 1rem;
       line-height: 1.5rem;
       font-size: 0.8rem;
       font-weight: 600;
       padding-left: 0;
}

.has-icon::before {
   font-family: "FontAwesome";
   position: absolute;
   line-height: 3rem;
   top: 0;
   left: 0;
   width: 3rem;
   text-align: center;
   z-index: 2;
   color: #b8bdd5;
   pointer-events: none;
   transition: color 0.2s;
   animation: none;
 }

 /* estilos para monitor de vacunas */
 
 .articuloCol{
   display: flex;
   flex-flow: column wrap;  
   align-items: center;
   background-color: darkseagreen;
   margin: 0px; 
   padding: 10px;
   width: 100%;
}



.articuloCol article{
   width: 60%;
}


/* estilos para html indicadores */
 
.defIndic{
   display: flex;
   flex-flow: column wrap;  
   align-items: center;
   background-color: darkseagreen; 
   margin: 0px; 
   width: 100%;
   justify-content: space-around;
 /*  padding: 10px; */
       
}

.defIndic article{
   width: 80%;
   background-color:darkseagreen;
   color: #fff;
}

.defIndic article:hover {
   transform:scale(1, 1);
   -webkit-transform:scale(1,1);
   -ms-transform:scale(1,1);
   border-radius: 25px; 
}

.defIndic article p {
        padding: 0px;
        font-size: 15px;
             }


.defIndic article ul{
   font-size: 15px;
}





.form-r{
display: flex;
background-color: darkseagreen;
padding: 30px;
margin: left;
margin-top: 5px;
border-radius: 4px;
}
.label1{
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
color: #000;
}
.controls{
width: 250px;
background: #ececec;
padding: 10px;
border-radius: 4px;
margin-bottom: 16px;
border: 1px solid black
}
.consulta1{
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.consulta2{
   width: 60%;
   padding: 0;
   
}
.boton{
height: 50px;
width: 70px;
margin-top: 10px;
margin-right: 15px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 12px;
font-size: 13px;
background-color:#ececec;
border-radius: 8px;
transition: 0.6s;
}
#botonEnviar:hover{
background-color: green;
}
#botonBorrar:hover{
background-color: red;
}
.encabezado1{
   font-size: 22px;
   margin-bottom: 20px;
}
.interno{
   width: 100%;
}


#menu-desktop{
   display: flex;
}
#menu-mobile {
   display: none
}

@media  (max-width:920px){
   .titulo{
      font-size: 25px;
   }
  .nav{
   font-size: 15px;
  }
  article{
   width: 80%;
  }
  #menu-desktop{
   display: none;
   }
   #menu-mobile {
   display: flex;
   width: auto;
   }

}



@media  (max-width:670px){
 
   .nav{
      font-size: 12px;
   }
   section{
      flex-flow: column nowrap;
    }
   aside{
      width: 95%; 
      margin-bottom: 10px;
   }
   .indicadores{
      width: 95%;
      margin-bottom: 10px;
      margin-right: 20px;
   } 
}


@media  (max-width:450px){


   .titulo{
      font-size: 15px;
   }

   aside{
      width: 95%; 
      margin-bottom: 10px;
    }

   .indicadores{
      width: 95%;
      margin-bottom: 10px;
      margin-right: 20px;
   } 
}


#burguer{
   min-width: 20px;
   min-height: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   cursor: pointer;
   right: 40px;

}

#burguer span{
   border-radius: 5px;
   background-color: #ffffff;
   width: 100%;
   height: 2px;
   transition: all 300ms ease-out;
}

#burguer.active .line1{
   opacity: 0;
   width: 0;
}
#burguer.active .line2{
   transform: translateY(2.5px) rotate(45deg);
}
#burguer.active .line3{
   transform: translateY(-2.5px) rotate(-45deg);
}

/* menu desplegable */

#menu-mobile div:nth-child(2){
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   background-color: yellowgreen;
   width: 30vw;
   height: 0px;
   position: fixed;
   top: 59px;
   right: 18px;
   transition: all 250ms ease-in-out;
}

#menu-mobile div.open:nth-child(2){
   height: 100px;
}